.container {
    width: 95%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

.todos {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 47.5%;
    padding: 15px;
    background-color: rgb(50, 195, 205);
}

.dragactive {
    background-color: rgb(229, 255, 0);
}

.todos__heading {
    font-size: 30px;
    color: black;
}

.dragcomplete {
    background-color: rgb(229, 255, 0);
}

.doing {
    background-color: rgb(50, 195, 205);
}

.remove {
    background-color: rgb(50, 195, 205);
}

@media (max-width: 1100px) {
    .todos {
        width: 45%;
    }
}

@media (max-width: 700px) {
    .input {
        width: 95%;
    }
    .container {
        width: 95%;
        flex-direction: column;
    }
    .todos {
        width: 95%;
        margin-bottom: 10px;
    }
}
